*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    display: flex;
    min-height: 100vh;
    background-color: #201b2c;
}

main{
    width: 100%;
    padding: 20px;
    position: fixed;
    z-index: 1;
    padding-left: calc(82px + 20px);
}

#sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #514869;
    height: 100vh;
    border-radius: 0px 18px 18px 0px;
    position: relative;
    transition: all .5s;
    min-width: 82px;
    z-index: 2;
}

#sidebarContent{
    padding: 12px;
}

#user{
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
}

#userAvatar{
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 20px;
}

#userInfos{
    display: flex;
    flex-direction: column;
}

#userInfos span:last-child{
    color: #fafafa;
    font-size: 12px;
}

#sideItems{
    display: flex;
    flex-direction: column;
    gap: 8px;
    list-style: none;
}

.side-item{
    border-radius: 8px;
    padding: 14px;
    cursor: pointer;
}

.side-item.active{
    background-color: #00ff88;
}

.side-item:hover:not(.active),
#logoutBtn:hover {
    background-color: #f0ffff94;
}

.side-item a{
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
}

.side-item.active a{
    color: #201b2c;
}

.side-item a i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
}

#logout{
    border-top: 1.5px solid #201b2c;
    padding: 12px;
}

#logoutBtn{
    border: none;
    padding: 12px;
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
    border-radius: 8px;
    text-align: start;
    cursor: pointer;
    background: transparent;
    color: #201b2c;
}

#openBtn{
    position: absolute;
    top: 30px;
    right: -10px;
    background-color: #00ff88;
    border: none;
    color: #201b2c;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

#openBtnIcon{
    display: inline-block;
   transition: transform .3s ease; 
}

.open-sidebar #openBtnIcon{
    transform: rotate(180deg);
}

.item-description{
    width: 0px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 14px;
    transition: width .6s;
    height: 0;
}

#sidebar.open-sidebar{
    min-width: 15%;
}

#sidebar.open-sidebar .item-description{
    width: 150px;
    height: auto;
}

#sidebar.open-sidebar .side-item a{
    justify-content: flex-start;
    gap: 14px;
}

main .menu-title h1{
    color: #fafafa;
    border-bottom: 2px solid #514869;
    width: 160px;
}

main .menu-title h1 span{
    color: #00ff88;
}

.overview{
    display: flex;
    align-items: center;
    gap: 50px;
}

.statistics-box{
    margin-top: 12px;
    width: 350px;
    background-color: #f0ffff94;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px -12px #000000;
}

.header-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-box h2{
    color: #514869;
}

.header-box p{
    color: #fafafa;
    background-color: #514869;
    padding: 6px;
    border-radius: 5px;
    font-weight: 600;
}

.header-box p i{
    font-weight: 600;
}

.tab-box h3{
    color: #fafafa;
}

.tab-box-res{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.tab-box-res{
    color: #201b2c;
    font-weight: 500;
}

.tab-box-res p:not(:last-child){
    border-bottom: 1px solid #fafafa;
    width: 100%;
}

.calendar{
    display: flex;
    margin-top: 30px;
}

.header-calendar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
    background-color: #fafafa;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 10px 20px -12px #000000;
}

.text-calendar h3{
    color: #201b2c;
}

.text-calendar p{
    color: #201b2c;
    font-weight: 400;
}

.box-day{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #00ff88;
    padding: 8px;
    border: 1px solid #f0ffff94;
    border-radius: 8px;
    box-shadow: 10px 10px 10px -12px #000000;
}

.box-day p{
    color: #201b2c;
    font-size: 16px;
}

.box-day span{
    font-size: 20px;
    font-weight: 600;
}




@media (max-width: 600px){

    .statistics-box{
        width: 270px;
    }

    .header-calendar{
        width: 270px;
    }

}